@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f4;
}

:root {
  --primary-color: #0008ff;
  --secondary-color: #0041ff;
  --hover-bg-color: #73c0fe;
  --hover-text-color: rgb(25, 25, 201);
  --task-bg-color: #59befde6;
  --task-bg-alt-color: #15a5ffe6;
  --task-hover-bg-color: #007BFFE6;
  --task-checked-color: #91e0ff;
  --checked-border-color: #006a05;
  --button-bg-color: #006a05;
  --button-hover-bg-color: #009e08;
  --border-color: #033eff;
  --close-bg-color: #f44336;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 50px 50px 0 50px;
}
.secondContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 40px 50px 0 25px;
}
/**********HEADER STYLES**********/
.wel-header {
  display: block;
  background-color: var(--primary-color);
  padding: 40px 30px;
  color: white;
  /* text-align: center; */
}

/**********CALENDAR STYLES**********/
.calContainer {
  width: 25%;
  background-color: #eaedf0;
  border-radius: 35px;
  /* margin-top: 2em; */
}

header {
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header-display {
  display: flex;
  align-items: center;
}

.header-display p {
  color: var(--secondary-color);
  margin: 5px;
  font-size: 1.2rem;
  word-spacing: 0.5rem;
}

pre {
  padding: 10px;
  margin: 0;
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--secondary-color);
}

.days,
.week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: auto;
  padding: 0 20px;
  justify-content: space-between;
}

.week div,
.days div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2em;
  border-radius: 100%;
}

.days div:hover {
  background: var(--hover-bg-color);
  color: var(--hover-text-color);
  cursor: pointer;
}

.week div {
  opacity: 0.5;
}

.current-date {
  background-color: var(--secondary-color);
  color: #FFF;
}

.display-selected {
  margin-bottom: 5px;
  padding: 10px 10px;
  text-align: center;
}

/**********TASK STYLES**********/
.taskContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 2%;
  /* text-align: center; */
}

.task-header {
  background-color: var(--primary-color);
  padding: 20px 30px;
  color: white;
  text-align: center;
  font-size: 3rem;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: var(--task-bg-color);
  font-size: 18px;
  transition: 0.2s;
  user-select: none;
  list-style-type: none;
}

ul li span {
  margin-left: 300px;
}

ul li:nth-child(odd) {
  background: var(--task-bg-alt-color);
}

ul li:hover {
  background: var(--task-hover-bg-color);
}

ul li.checked {
  color: var(--task-checked-color);
  text-decoration: line-through;
}

ul li.checked::before {
  content: '';
  position: absolute;
  border-color: var(--checked-border-color);
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: var(--close-bg-color);
  color: white;
}

input {
  margin: 30px 0 0 0;
  border: 1px solid var(--border-color);
  border-radius: 2px 0 0 2px;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

.addBtn {
  margin: 30px 0 0 0;
  padding: 7px;
  width: 25%;
  background: var(--button-bg-color);
  color: #ffffff;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid var(--border-color);
  border-radius: 0;
}

.addBtn:hover {
  background-color: var(--button-hover-bg-color);
}

/* WEATHER STYLE */
.weatherContainer {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-left: 2%;
  
  text-align: center;
}
.weather-header {
  background-color: var(--primary-color);
  padding: 20px 30px;
  color: white;
  text-align: center;
  font-size: 2rem;
  border-radius:20px 20px 0 0;
}

.weather-info {
  background-color: black;
  color: white;
  padding: 30px;
  border-radius: 0 0 20px 20px;
}
#cityInput {
  margin: 10px 0 20px 0 ;
}
.submitBtn {
  margin: 10px 0 20px 0;
  padding: 10px;
  width: 25%;
  background: var(--button-bg-color);
  color: #ffffff;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid var(--border-color);
  border-radius: 0;
}

/* NOTES STYLE */
.noteContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 2%;
  /* text-align: center; */
}
.note-header {
  background-color: var(--primary-color);
  padding: 20px 30px;
  color: white;
  text-align: center;
  font-size: 3rem;
  border-radius:20px 20px 0 0;
}
.submitBtnNotes {
  margin: 0px 0 20px 0;
  padding: 5px;
  width: 100%;
  background: var(--button-bg-color);
  color: #ffffff;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid var(--border-color);
  border-radius: 0;
}
}